
@{
    ViewBag.Title = "Index";
}

<h1>Hulpak Valeriy</h1>
<h1>25.06.1995</h1>



    @foreach (var b in Model)
    {
        
            <td>@b.Id</td>
            <td>@b.Name</td>
        <p></p>
        
    }








